<!DOCTYPE html>
<html>
<head>
	{% include head.html %}
    <title>Blade Web Framework</title>
</head>
<body>
	
	<nav class="top-bar fixed">
		<ul>
			<!-- Title Area -->
			<li class="name">
				<h1>
					<a href="/">
						<img src="/images/blade-bar-logo.png" alt="logo" width="25" height="25" />
						&nbsp; Blade Web Framework
					</a>
				</h1>
			</li>
			<li class="toggle-topbar"><a href="#"></a></li>
		</ul>
		<section>
			<!-- Right Nav Section -->
			<ul class="right" style="padding-right: 10px;">
				<li>
					<a href="/index.html" class="fa fa-home"> Home</a>
				</li>
				<li>
					<a href="/apidocs" class="fa fa-hashtag"> API DOC</a>
				</li>
				<!-- <li class="divider"></li> -->
				<li class="has-dropdown">
					<a class="fa fa-book" href="/docs/en/overview.html"> Docs</a>
					<ul class="dropdown">
						{% include nav_en.html %}
					</ul>
				</li>

				<li>
					<a href="https://github.com/biezhi/blade"  class="fa fa-github"> GitHub</a>
				</li>

				<li>
					<a href="/license.html" class="fa fa-legal"> License</a>
				</li>
				<li>
					<a class="fa fa-language lang-change" href="/index.html"> 中文</a>
				</li>
			</ul>
		</section>
	</nav>

	<!-- Main Body -->
	<div class="row">
		<div class="nine columns">
			<div id="content">
				{{ content }}
			</div>
		</div>

		<!-- Sidebar -->
		<div class="three columns sidebar">
			<a href="https://github.com/biezhi/blade" class="radius button fa fa-github huge">
				Download <br/> from Github
			</a>
			<h4>Documentation</h4>
			<ul class="side-nav">
				{% include nav_en.html %}
			</ul>
		</div>
	</div>

	<!-- Footer -->
	<footer class="row">
		<div class="twelve columns">
			<div class="row">
				<div class="six columns">
					<p>&copy; Copyright 2017, <a href="http://bladejava.com" >Blade Framework</a></p>
				</div>
				<div class="six columns">
					<ul class="inline-list right">
						<!-- <li><a href="#">Link 1</a></li> -->
					</ul>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>
